@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300;700&display=swap');

@font-face {
    font-family: "TheFoxTailRegular";
    src:
            url('TheFoxTailRegular-KxX7.otf')
            format('opentype');
    font-weight: bold;
    font-style: italic;

}
body{
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #006363;
}

header h1 {
    display: contents;
    font-size: 15vh;
    color: orange;
    text-shadow: .035em 0 coral;
    letter-spacing: .09em;
    font-family: 'TheFoxTailRegular';
}


.my_contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #ffefd5;
    padding-bottom: 4vh;

}
.my_contacts h2 {
    font-family: 'Martel', serif;
    text-shadow: .035em 0 cadetblue;
    letter-spacing: .09em;
    font-size: 4vh;
}

.my_contacts article{
    background-color: #e5d7bf;
    padding: 5px;
    border-radius: 10px;
}

.my_contacts table {
    border-collapse: collapse;
    font-size: 3vh;

    border-radius: 10px;
    margin: 10px;
    padding: 100px;
    border-bottom: 10px;
}
.my_contacts table td {
    padding-top: 10px;
    padding-left: 2vw;
    padding-right: 1vw;
    border-bottom: 2pt solid black;

}



.my_projects {
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #ffefd06b;

}

.my_projects section{
    margin-bottom: 10vh;
}

.my_projects h2 {
    font-family: 'Martel', serif;
    text-shadow: .035em 0 cadetblue;
    letter-spacing: .09em;
    font-size: 4vh;
}

.my_projects article{
    background-color: #e5d7bf;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 30vh;

}

.my_projects table {
    border-collapse: collapse;
    font-size: 2vh;
    border-radius: 10px;
    margin: 10px;
    padding: 100px;
    border-bottom: 10px;
}
.my_projects table td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2vw;
    padding-right: 1vw;
    border-bottom: 2pt solid black;

}
.my_projects ul{
    padding: 0;
    list-style: none;
}
.my_projects li a{
    font-size: 2vh;
    font-family: monospace;
}

footer {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #006363;
}
footer a {
    font-size: 3vh;
    color: orange;
    text-shadow: .035em 0 coral;
    letter-spacing: .09em;
}