/*
license: Creative Commons (by-sa) Attribution Share Alike
link: https://www.fontspace.com/opirus-opik-font-f16232
*/
@font-face {
  font-family: 'OpirusOpikRegular-RgDv';
  src: url('./OpirusOpikRegular-RgDv.ttf') format('truetype');
  font-weight: normal;
  font-style: monospace;
}
