:root {
    --main-color: #006363;
    --accent-color: orange;
    --background-color: #ffefd5;
    --secondary-background-color: #e5d7bf;
    --shadow-color: coral;
    --text-color: cadetblue;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --border-bottom-color: #ccc;
}

body {
    font-family: 'Martel', serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    background-color: var(--main-color);
}

header h1 {
    display: contents;
    font-size: 15vh;
    color: var(--accent-color);
    text-shadow: .035em 0 var(--shadow-color);
    font-family: 'The Fox Tail', sans-serif;
    text-align: center;
}

.info_tables {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_tables h2 {
    font-family: 'Martel', serif;
    text-shadow: 0 0 5px var(--text-color);
    letter-spacing: .09em;
    font-size: 4vh;
}

.my_contacts article div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-end;
}

.my_contacts article, .my_projects article {
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2vh;
}

.my_contacts table, .my_projects table {
    border-collapse: collapse;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
    padding: 1vh;
}

.my_contacts td, .my_projects td {
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-bottom-color);
}

.my_contacts a, .my_projects a {
    font-family: monospace;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.my_projects ul {
    padding: 0;
    list-style: none;
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--main-color);
    width: 100%;
}

footer a {
    font-size: 3vh;
    color: var(--accent-color);
    text-shadow: 0 0 5px var(--shadow-color);
    letter-spacing: .09em;
}
